<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-align: center">Hello ReqRes users!</h1>
    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
        <div th:each="user: ${users}" style="margin: 20px;">
            <p>
                <b th:text="${user.getFirst_name()}"></b>
            </p>
            <p th:text="${user.getEmail()}"></p>
            <p>
                <img th:src="${user.getAvatar()}">
            </p>
        </div>
    </div>
</body>
</html>